#gameCanvas {
    display: block;
    margin: auto;
    background: #00000088;
    border: 2px solid var(--accent);
    box-shadow: 0 0 25px var(--accent);
    width: 100%;
    max-width: 900px;
    height: 600px;
}
